<?xml version="1.0"?>
<!--
/**
 * Copyright © 2021 Navigate. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
    	<add id="Navigate_HomepageBannerSlider::main" title="Homepage Banner Slider" translate="Homepage Banner Slider" module="Navigate_HomepageBannerSlider" parent="Navigate_Core::core" sortOrder="200" resource="Navigate_HomepageBannerSlider::main" dependsOnConfig="bannerslider/general/enable"/>

        <add id="Navigate_HomepageBannerSlider::bannerslider" parent="Navigate_HomepageBannerSlider::main" title="Manage Homepage Banner Slider" module="Navigate_HomepageBannerSlider"  sortOrder="100" dependsOnModule="Navigate_HomepageBannerSlider" action="bannerslider/bannerslider/index" resource="Navigate_HomepageBannerSlider::bannerslider"/>

         <add id="Navigate_HomepageBannerSlider::configuration_menu" title="Configurations" module="Navigate_HomepageBannerSlider" parent="Navigate_HomepageBannerSlider::main" sortOrder="200" action="adminhtml/system_config/edit/section/bannerslider" resource="Navigate_HomepageBannerSlider::configuration_menu" target="_blank"/>
    </menu>
</config>
