<?xml version="1.0"?>
<!--
 Navigate Commerce

 @author        Navigate Commerce
 @package       Navigate_HomepageBannerSlider
 @copyright     Copyright (c) Navigate (https://www.navigatecommerce.com/)
 @license       https://www.navigatecommerce.com/end-user-license-agreement
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="bannerslider" frontName="bannerslider">
            <module name="Navigate_HomepageBannerSlider" before="Magento_Backend" />
        </route>
    </router>
</config>
