<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="navigate" translate="Navigate Extensions" sortOrder="100" class="navigate-extensions">
            <label>Navigate Extensions</label>
        </tab>
        <section id="bannerslider" showInDefault="1" showInWebsite="1" showInStore="1" type="text" translate="Bannerslider Information" sortOrder="200">
            <label>Homepage Banner Slider</label>
            <tab>navigate</tab>
            <resource>Navigate_HomepageBannerSlider::config_bannerslider</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20">
                <label>General Settings</label>
                <field id="enable" translate="Enable Module" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
